.filter-box {
    padding: 1rem 2rem;
    box-shadow: 0 2px 10px 1px rgb(0 0 0 / 15%);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--desaturated-dark-cyan);
    background: #fff;
    margin-bottom: 1.5rem;
}

.filter-box,
.filter-tool {
    display: flex;
    align-items: center;
}

.container-tool {
    display: flex;
    gap: 1rem;
}

.filter-box {
    justify-content: space-between;
}

.filter-tool span {
    border-radius: 5px 0 0 5px;
    padding: 7px 10px;
    background: var(--light-grayish-cyan-filter-tablets);
    color: var(--desaturated-dark-cyan);
}

.filter-tool button {
    border-radius: 0 5px 5px 0;
    transition: background .3s;
    padding: 6px 8px;
    background: var(--desaturated-dark-cyan);
}

.filter-tool button:hover {
    cursor: pointer;
    background: var(--very-dark-grayish-cyan);
}

.button-filter {
    font-size: 1rem;
    color: var(--desaturated-dark-cyan);
    background: transparent;
}

.button-filter:hover {
    cursor: pointer;
    text-decoration: underline;
}